<!DOCTYPE html>
<html>
	<head>
	
		<title>Address Management</title>
		
		<meta http-equiv="Expires" content="-1">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">

		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = no">

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link href="common.css" rel="stylesheet">
		
	    <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/800px-Java_programming_language_logo.svg.png">
		<link rel="apple-touch-icon" href="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/800px-Java_programming_language_logo.svg.png">
		<link rel="apple-touch-startup-image" href="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/800px-Java_programming_language_logo.svg.png">
		<link rel="apple-touch-icon-precomposed" href="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/800px-Java_programming_language_logo.svg.png">
	
	</head>
	<body>
		<div class="container-fluid" ng-app="application" ng-controller="controller">
		
			<h4 class="pb-2 mt-4 mb-3 border-bottom">
				Address Management
			</h4>
			
			<div id="alert" ng-class="alert.class" ng-bind="alert.message" class="alert fw-bold text-center" role="alert">
			</div>
			
			<div class="card">
				<div class="card-header fw-bold">
					Address Search
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="addressIdSearch" class="form-label">Address Id</label>
								<input id="addressIdSearch" ng-model="addressSearch.id" type="tel" class="form-control is-valid" placeholder="Address Id" maxlength="10" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="addressBuildingSearch" class="form-label">Address Building</label>
								<input id="addressBuildingSearch" ng-model="addressSearch.building" type="tel" class="form-control is-valid" placeholder="Address Building" maxlength="10" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="addressRoadSearch" class="form-label">Address Road</label>
								<input id="addressRoadSearch" ng-model="addressSearch.road" type="tel" class="form-control is-valid" placeholder="Address Road" maxlength="10" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="addressBlockSearch" class="form-label">Address Block</label>
								<input id="addressBlockSearch" ng-model="addressSearch.block" type="tel" class="form-control is-valid" placeholder="Address Block" maxlength="10" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="cityIdSearch" class="form-label">City Id</label>
								<input id="cityIdSearch" ng-model="addressSearch.city.id" type="tel" class="form-control is-valid" placeholder="City Id" maxlength="10" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="cityNameSearch" class="form-label">City Name</label>
								<input id="cityNameSearch" ng-model="addressSearch.city.name" type="text" class="form-control is-valid name" placeholder="City Name" maxlength="100" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="cityActiveSearch" class="form-label">City Active</label>
								<select id="cityActiveSearch" ng-model="addressSearch.city.active" class="form-control is-valid" placeholder="City Active" autocomplete="off">
									<option ng-value="">City Active</option>
									<option ng-value="true">Yes</option>
									<option ng-value="false">No</option>
								</select>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="addressActiveSearch" class="form-label">Address Active</label>
								<select id="addressActiveSearch" ng-model="addressSearch.active" class="form-control is-valid" placeholder="Address Active" autocomplete="off">
									<option ng-value="">Address Active</option>
									<option ng-value="true">Yes</option>
									<option ng-value="false">No</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer text-center" ng-hide="loading">
					<button type="button" class="btn btn-dark" ng-click="searchAddresss(true)">Search</button>
				</div>
			</div>
			
			<div class="card mt-4">
				<div class="card-header fw-bold">
					Address List
				</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									Address Id
								</th>
								<th>
									Address Building
								</th>
								<th>
									Address Road
								</th>
								<th>
									Address Block
								</th>
								<th>
									City Id
								</th>
								<th>
									City Name
								</th>
								<th>
									Address Active
								</th>
								<th>
									Address Creation Date
								</th>
								<th>
									Address Creation User
								</th>
								<th>
									Address Update Date
								</th>
								<th>
									Address Update User
								</th>
								<th>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addressModal" ng-click="toAddAddress()">Add</button>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="address in addresss" ng-hide="loading">
								<td>
									{{$index + 1}}
								</td>
								<td>
									{{address.id}}
								</td>
								<td>
									{{address.building}}
								</td>
								<td>
									{{address.road}}
								</td>
								<td>
									{{address.block}}
								</td>
								<td>
									{{address.city.id}}
								</td>
								<td>
									{{address.city.name}}
								</td>
								<td>
									{{address.active ? 'Yes' : 'No'}}
								</td>
								<td>
									{{address.creationDate}}
								</td>
								<td>
									{{address.creationUser}}
								</td>
								<td>
									{{address.updateDate}}
								</td>
								<td>
									{{address.updateUser}}
								</td>
								<th>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#viewModal" ng-click="selectAddress(address)">View</button>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addressModal" ng-click="toUpdateAddress(address)">Edit</button>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#activateModal" ng-if="!address.active" ng-click="selectAddress(address)">Activate</button>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#activateModal" ng-if="address.active" ng-click="selectAddress(address)">Deactivate</button>
								</th>
							</tr>
							<tr ng-show="loading">
								<td align="center" colspan="100">
									<div class="spinner-border" role="status">
										<span class="sr-only"></span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-footer" ng-if="addressSearch.totalRows != 0">
					<div class="row">
						<div class="col-3 text-start">
							<button type="button" class="btn btn-dark" ng-if="addressSearch.pageNo != 1" ng-click="first()">First</button>
							<button type="button" class="btn btn-dark" ng-if="addressSearch.pageNo != 1" ng-click="previous()">Previous</button>
						</div>
						<div class="col-2 text-center">
							<label class="fw-bold">
								Rows :
								<select ng-model="addressSearch.rowCount" class="form-control d-inline w-auto" ng-change="first()">
									<option ng-value="5">5</option>
									<option ng-value="10">10</option>
									<option ng-value="15">15</option>
									<option ng-value="20">20</option>
								</select>
							</label>
						</div>
						<div class="col-2 text-center">
							<label class="fw-bold pt-1">
								Total : {{addressSearch.totalRows}}
							</label>
						</div>
						<div class="col-2 text-center">
							<label class="fw-bold pt-1">
								Page {{addressSearch.pageNo}} of {{addressSearch.pageCount}}
							</label>
						</div>
						<div class="col-3 text-end">
							<button type="button" class="btn btn-dark" ng-if="addressSearch.pageNo != addressSearch.pageCount" ng-click="next()">Next</button>
							<button type="button" class="btn btn-dark" ng-if="addressSearch.pageNo != addressSearch.pageCount" ng-click="last()">Last</button>
						</div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="modal fade" id="addressModal">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">{{address.id == null ? 'Add' : 'Update'}} Address</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div id="alert" ng-class="alert.class" ng-bind="alert.message" class="alert fw-bold text-center" role="alert">
							</div>
							<div class="card mt-4">
								<div class="card-header fw-bold">
									Address Details
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-sm-12 col-md-6 col-lg-4">
											<div class="mb-3">
												<label for="addressBuilding" class="form-label">Address Building</label>
												<input id="addressBuilding" ng-model="address.building" type="tel" class="form-control is-valid" placeholder="Address Building" maxlength="10" autocomplete="off">
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-4">
											<div class="mb-3">
												<label for="addressRoad" class="form-label">Address Road</label>
												<input id="addressRoad" ng-model="address.road" type="tel" class="form-control is-valid" placeholder="Address Road" maxlength="10" autocomplete="off">
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-4">
											<div class="mb-3">
												<label for="addressBlock" class="form-label">Address Block</label>
												<input id="addressBlock" ng-model="address.block" type="tel" class="form-control is-valid" placeholder="Address Block" maxlength="10" autocomplete="off">
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-4">
											<div class="mb-3">
												<label for="cityName" class="form-label">City Name</label>
												<input id="cityName" ng-model="address.city.name" type="text" class="form-control is-valid name" placeholder="City Name" maxlength="100" autocomplete="off">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card mt-4">
								<div class="card-header fw-bold">
									Employee List
								</div>
								<div class="table-responsive">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>
													#
												</th>
												<th>
													Cpr
												</th>
												<th>
													Name
												</th>
												<th>
													Age
												</th>
												<th>
													Email
												</th>
												<th>
													Gender
												</th>
												<th>
													Mobile
												</th>
												<th>
													Salary
												</th>
												<th>
													<button type="button" class="btn btn-dark" ng-click="addEmployee($index)">Add</button>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="employee in address.employees">
												<td>
													{{$index + 1}}
												</td>
												<td>
													<div class="mb-3">
														<input id="cpr" ng-model="employee.cpr" type="tel" class="form-control is-valid cpr" placeholder="Cpr" maxlength="9" autocomplete="off">
													</div>
												</td>
												<td>
													<div class="mb-3">
														<input id="name" ng-model="employee.name" type="text" class="form-control is-valid name" placeholder="Name" maxlength="255" autocomplete="off">
													</div>
												</td>
												<td>
													<div class="mb-3">
														<input id="age" ng-model="employee.age" type="tel" class="form-control is-valid age" placeholder="Age" maxlength="2" autocomplete="off">
													</div>
												</td>
												<td>
													<div class="mb-3">
														<input id="email" ng-model="employee.email" type="text" class="form-control is-valid email" placeholder="Email" maxlength="255" autocomplete="off">
													</div>
												</td>
												<td>
													<div class="mb-3">
														<input id="gender" ng-model="employee.gender" type="text" class="form-control is-valid" placeholder="Gender" maxlength="1" autocomplete="off">
													</div>
												</td>
												<td>
													<div class="mb-3">
														<input id="mobile" ng-model="employee.mobile" type="tel" class="form-control is-valid mobile" placeholder="Mobile" maxlength="8" autocomplete="off">
													</div>
												</td>
												<td>
													<div class="mb-3">
														<input id="salary" ng-model="employee.salary" type="number" class="form-control is-valid" placeholder="Salary" maxlength="17" autocomplete="off">
													</div>
												</td>
												<th>
													<button type="button" class="btn btn-dark" ng-click="addEmployee($index)">+</button>
													<button type="button" class="btn btn-dark" ng-click="deleteEmployee($index)">-</button>
												</th>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="modal-footer" ng-hide="submitted">
							<button type="button" class="btn btn-dark" ng-if="address.id == null" ng-click="addAddress()">Add</button>
							<button type="button" class="btn btn-dark" ng-if="address.id != null" ng-click="updateAddress()">Update</button>
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="viewModal">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">View Address</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="card mt-4">
								<div class="card-header fw-bold">
									Address Details
								</div>
								<div class="table-responsive">
									<table class="table table-striped">
										<tbody>
											<tr>
												<th>
													Address Id
												</th>
												<td>
													{{address.id}}
												</td>
											</tr>
											<tr>
												<th>
													Address Building
												</th>
												<td>
													{{address.building}}
												</td>
											</tr>
											<tr>
												<th>
													Address Road
												</th>
												<td>
													{{address.road}}
												</td>
											</tr>
											<tr>
												<th>
													Address Block
												</th>
												<td>
													{{address.block}}
												</td>
											</tr>
											<tr>
												<th>
													City Id
												</th>
												<td>
													{{address.city.id}}
												</td>
											</tr>
											<tr>
												<th>
													City Name
												</th>
												<td>
													{{address.city.name}}
												</td>
											</tr>
											<tr>
												<th>
													Address Active
												</th>
												<td>
													{{address.active}}
												</td>
											</tr>
											<tr>
												<th>
													Address Creation Date
												</th>
												<td>
													{{address.creationDate}}
												</td>
											</tr>
											<tr>
												<th>
													Address Creation User
												</th>
												<td>
													{{address.creationUser}}
												</td>
											</tr>
											<tr>
												<th>
													Address Update Date
												</th>
												<td>
													{{address.updateDate}}
												</td>
											</tr>
											<tr>
												<th>
													Address Update User
												</th>
												<td>
													{{address.updateUser}}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="card mt-4">
								<div class="card-header fw-bold">
									Employee List
								</div>
								<div class="table-responsive">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>
													#
												</th>
												<th>
													Cpr
												</th>
												<th>
													Name
												</th>
												<th>
													Age
												</th>
												<th>
													Email
												</th>
												<th>
													Gender
												</th>
												<th>
													Mobile
												</th>
												<th>
													Salary
												</th>
												<th>
													Creation Date
												</th>
												<th>
													Creation User
												</th>
												<th>
													Update Date
												</th>
												<th>
													Update User
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="employee in address.employees">
												<td>
													{{$index + 1}}
												</td>
												<td>
													{{employee.cpr}}
												</td>
												<td>
													{{employee.name}}
												</td>
												<td>
													{{employee.age}}
												</td>
												<td>
													{{employee.email}}
												</td>
												<td>
													{{employee.gender}}
												</td>
												<td>
													{{employee.mobile}}
												</td>
												<td>
													{{employee.salary}}
												</td>
												<td>
													{{employee.creationDate}}
												</td>
												<td>
													{{employee.creationUser}}
												</td>
												<td>
													{{employee.updateDate}}
												</td>
												<td>
													{{employee.updateUser}}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="activateModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">{{address.active ? 'Deactivate' : 'Activate'}} Address</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<h4>Are you sure to {{address.active ? 'deactivate' : 'activate'}} Address</h4>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal" ng-if="!address.active" ng-click="updateAddressActive()">Activate</button>
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal" ng-if="address.active" ng-click="updateAddressActive()">Deactivate</button>
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			
			var application = angular.module("application", []);

			application.controller("controller", 

				function($scope, $http, $timeout){
				
					$scope.alert = {class:"d-none", message:null};
					
					$scope.loading = true;
					$scope.submitted = false;
					
					$scope.addresss = new Array();
					
					$scope.addressSearch = new Object();
					$scope.addressSearch.rowCount = 5;
					$scope.addressSearch.pageNo = 1;
					$scope.addressSearch.pageCount = 0;
					$scope.addressSearch.totalRows = 0;
					$scope.addressSearch.city = new Object();
					
					$scope.address = new Object();
					$scope.address.city = new Object();
					$scope.address.employees = new Array();
					
					$scope.searchAddresss = function(alert){
						
						window.scrollTo(0, 0);
						
						$scope.loading = true;
						
						if(alert){
							$scope.alert = {class:"alert-warning", message:"Please wait"};
						}
						
						$http.post("./searchAddresss", $scope.addressSearch).then(function(result){
							
							$scope.loading = false;
							
							if(alert){
								$scope.alert = {class:"d-none", message:null};
							}
							
							$scope.addresss = result.data;
							
						}).catch(function(error){
							
							$scope.loading = false;
							
							$scope.alert = {class:"alert-danger", message:error};
						});
						
						$http.post("./getAddressCount", $scope.addressSearch).then(function(result){
							
							$scope.addressSearch = result.data;
							
						}).catch(function(error){
							
							$scope.alert = {class:"alert-danger", message:error};
						});
					}
					
					$scope.searchAddresss(true);
					
					$scope.first = function(){
						$scope.addressSearch.pageNo = 1;
						$scope.searchAddresss(true);
					}
					
					$scope.previous = function(){
						$scope.addressSearch.pageNo--;
						$scope.searchAddresss(true);
					}
					
					$scope.next = function(){
						$scope.addressSearch.pageNo++;
						$scope.searchAddresss(true);
					}
					
					$scope.last = function(){
						$scope.addressSearch.pageNo = $scope.addressSearch.pageCount;
						$scope.searchAddresss(true);
					}
					
					$scope.selectAddress = function(address){
						
						$http.post("./getAddress", address).then(function(result){
							
							$scope.address = result.data;
							
						}).catch(function(error){
							
							$scope.alert = {class:"alert-danger", message:error};
						});
					}
					
					$scope.toAddAddress = function(){
						
						$scope.submitted = false;
						
						$scope.alert = {class:"alert-info", message:"Please enter Address Details"};
						
						$scope.address = new Object();
						$scope.address.city = new Object();
						$scope.address.employees = new Array();
					}
					
					$scope.addAddress = function(){
						
						window.scrollTo(0, 0);
						
						var result = isValidForm();
						
						if(result == null){
							
							$scope.submitted = true;
							
							$http.post("./saveAddress", $scope.address).then(function(result){
								
								$("#addressModal").modal("hide");
								
								$scope.address = result.data;
								
								$scope.alert = {class:"alert-success", message:"Address with ID#" + $scope.address.id + " has been added successfully"};
								
								$scope.searchAddresss(false);
								
							}).catch(function(error){
								
								$scope.submitted = false;
								
								$scope.alert = {class:"alert-danger", message:error};
							});
							
						}else{
							
							$scope.alert = {class:"alert-danger", message:result};
						}
					}
					
					$scope.toUpdateAddress = function(address){
						
						$scope.submitted = false;
						
						$http.post("./getAddress", address).then(function(result){
							
							$scope.address = result.data;
							
							$scope.alert = {class:"alert-info", message:"Please update Address Details"};
							
							if($scope.address.employees == null){
								$scope.address.employees = new Array();
							}
							
							$timeout(function(){
								
								isValidForm();
							});
							
						}).catch(function(error){
							
							$scope.alert = {class:"alert-danger", message:error};
						});
					}
					
					$scope.updateAddress = function(){
						
						window.scrollTo(0, 0);
						
						var result = isValidForm();
						
						if(result == null){
							
							$scope.submitted = true;
							
							$http.post("./saveAddress", $scope.address).then(function(result){
								
								$("#addressModal").modal("hide");
								
								$scope.address = result.data;
								
								$scope.alert = {class:"alert-success", message:"Address with ID#" + $scope.address.id + " has been updated successfully"};
								
								$scope.searchAddresss(false);
								
							}).catch(function(error){
								
								$scope.submitted = false;
								
								$scope.alert = {class:"alert-danger", message:error.data};
							});
							
						}else{
							
							$scope.alert = {class:"alert-danger", message:result};
						}
					}
					
					$scope.updateAddressActive = function(){
						
						window.scrollTo(0, 0);
						
						$scope.address.active = !$scope.address.active;
						
						$http.post("./updateAddressActive", $scope.address).then(function(result){
							
							$scope.address = result.data;
							
							if($scope.address.active){
								
								$scope.alert = {class:"alert-success", message:"Address with ID#" + $scope.address.id + " has been activated successfully"};
								
							}else{
								
								$scope.alert = {class:"alert-success", message:"Address with ID#" + $scope.address.id + " has been deactivated successfully"};
							}
							
							$scope.searchAddresss(false);
							
						}).catch(function(error){
							
							$scope.alert = {class:"alert-danger", message:error.data};
						});
					}
					
					$scope.addEmployee = function(index){
						$scope.address.employees.splice(index, 0, new Object());
					}
					
					$scope.deleteEmployee = function(index){
						$scope.address.employees.splice(index, 1);
					}
				}
			);
		</script>
		<script src="common.js"></script>
	</body>
</html>